/Build
/Orienteer.xcodeproj/xcuserdata/wonco.xcuserdatad/xcdebugger
/Orienteer.xcodeproj/xcuserdata/wonco.xcuserdatad/xcschemes/Orienteer.xcscheme
/Orienteer.xcodeproj/xcuserdata/wonco.xcuserdatad/xcschemes/xcschememanagement.plist
